@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import 'settings';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: $bgColor;
	cursor: default;
}

a,
button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: $black;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}


